.footer-back {
    background-color: var(--color-title);
    padding-top: 60px;
    padding-bottom: 60px;
    @include desktop {
        padding-bottom: 0px;
    }
}

.container.footer {
    display: block;
    
    @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 76px;
    padding-right: 89px
    }
    @include desktop {
        align-items: baseline;
        
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        margin: 0 auto;
    }
}

.flex-footer {
    margin-bottom: 9px;
}

.footer-contacts {
    text-align: center;
    margin-bottom: 60px;
    @include desktop {
        text-align: start;
    
    }
}

.footer-contacts__item {
    // margin-bottom: 9px;
    margin-bottom: 8px;
    &:last-child {
            margin-bottom: 0px;
        }
}

.logo.footer {
    padding: 0px auto;
    margin-bottom: 20px;
}

.logo__logo-studio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.03em;
    }

.logo-studio--color-light {
color: var(--color-header);
}


.footer-contacts__address-block {
    margin-top: 20px;
}

.footer-contacts__address {


    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--color-header);
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
        }
}


.footer-contacts__info {
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--color-footer-contacts);
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
        }
}


.container__footer-social {
    text-align: center;
    margin-bottom: 60px;

    @include desktop {
    margin-left: 70px;
    text-align: start;
}
}
.footer-social__text, .footer-subscription__text {
    margin-bottom: 20px;

    color: var(--color-header);
}

.appeal {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}

.footer-social__social-list {
    display: flex;
    justify-content: center;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) linear;
}

.footer-social__icon {
    list-style-type: none;
    margin-right: 10px;
}

.footer-social__instagram {
    background-image: url(../images/social_links/instagram\ 2.svg);
}

.footer-social__facebook {
    background-image: url(../images/social_links/facebook\ 1.svg);
}

.footer-social__linkedin {
    background-image: url(../images/social_links/linkedin\ 1.svg);
}

.footer-social__twitter {
    background-image: url(../images/social_links/twitter\ 1.svg);
}

.icon {
    display: block;

    width: 44px;
    height: 44px;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-image: cover;
    background-position: 50% 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .footer-social__social-list &:focus,
    .footer-social__social-list &:hover {
            background-color: var(--accent-color);
        }
}



.footer-subscription {
    text-align: center;

    @include tablet {
            margin: 0px auto;
    }

        @include desktop {
            justify-content: center;
            margin-left: 93px;
            text-align: start;
}
}

.footer-subscription__subscribe-form {
    @include desktop {
    display: flex;}
}

.btn-subscription {
    width: 200px;
    height: 50px;

    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    text-align: center;
    letter-spacing: 0.06em;

    color: #ffffff;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            background-color: var(--color-button-mp);
        }

        @include tablet {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
        }

        @include desktop {
            padding: 0px 28px;
        }
}

.btn-subscription__icon {
    margin-left: 10px;
}


.footer-subscription__footer-email-line {
    margin-bottom: 20px;
    height: 50px;
    min-width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;

    margin-right: 12px;

    color: #ffffff;
    padding-left: 16px;

    &::placeholder {
            padding: auto;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
    
            color: rgba(255, 255, 255, 0.6);
        }
        @include desktop {
            max-width: 350px;
        }
}

