.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    color: #212121;
    z-index: 991;
    
    @include tablet {
        display: none;
    }
}

.menu-button:hover, 
.menu-button:focus {
    fill: #2196F3;
}

.menu-button .icon-menu {
    display: none;
}

.menu-button.is-open .icon-menu {
    display: block;
}

.menu-button.is-open .icon-close {
    display: none;
}



.menu-container {
   
    background-color: #ffff;
    padding-top: 48px;
    padding-left: 40px;
   
    text-align: start;

    &.is-open {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    overflow: auto;
    @media screen and (max-width: 767px) {
       
        display: none;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        .container {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            overflow: auto;
        }
    }
    @include tablet {
        display: flex;
        padding-top: 0px;
        padding-left: 0px;
        justify-content: space-between;
        align-items: center;
        .container {
            display: flex;
        }
        }
  @include desktop {
    display: flex;
    .container {
    align-items: baseline;}

  }
    }
